sudo: required
addons:
  apt:
    update: true
    packages:
    - docker-ce
services:
- docker
script:
- export DOCKER_CLI_EXPERIMENTAL=enabled
- source sha_function.sh
- alpine_x86_sha=$(get_variant_sha "alpine" "latest" "amd64")
- echo $alpine_x86_sha
- alpine_arm64_sha=$(get_variant_sha "alpine" "latest" "arm64")
- echo $alpine_arm64_sha
- treehouses_alpine_x86_sha=$(get_manifest_sha "treehouses/alpine" "amd64")
- echo $treehouses_alpine_x86_sha
- treehouses_alpine_arm64_sha=$(get_manifest_sha "treehouses/alpine" "arm64")
- echo $treehouses_alpine_arm64_sha
- balena_rpi_sha=$(get_tag_sha "balenalib/raspberry-pi-alpine" "latest")
- echo $balena_rpi_sha
- treehouses_rpi_sha=$(get_manifest_sha "treehouses/alpine" "arm")
- echo $treehouses_rpi_sha
- flag=$(compare_sha  "$alpine_x86_sha" "$treehouses_alpine_x86_sha" "$balena_rpi_sha" "$treehouses_rpi_sha" "$alpine_arm64_sha" "treehouses_alpine_arm64_sha")
- echo $flag
- echo $DOCKERAPIKEY | docker login -u "sevenseas" --password-stdin
before_deploy:
- tag="3.12-$(date +%Y%m%d%H%M)"
- echo $tag
- create_manifests treehouses/alpine $tag  "alpine@"$alpine_x86_sha "balenalib/raspberry-pi-alpine@"$balena_rpi_sha "alpine@"$alpine_arm64_sha
- docker manifest inspect treehouses/alpine:latest
- docker manifest inspect treehouses/alpine:$tag
deploy:
- provider: script
  script: docker manifest push treehouses/alpine:latest; docker manifest push treehouses/alpine:$tag
  skip_cleanup: true
  on:
    all_branches: true
    condition: $flag = true
env:
  global:
  - secure: Iid8IKUIovPZidyY5YJb6fdf1pczXbJ09BQpGsLMj0+94QZwbFtXrPX3lb2QznXDAwhJ8VTRUXs2/vP2N/RxYzkNhGGsRNzvJ9kNPSjgAFMW5rUQroeAs+qcVVwe609BRjU7OAoZUgkxMXpmSF1nmuB/bgXoR2EaoeJER0Dc/At6AUqPRYGNOOccOun+aNhpKI6IDjLp0J8DFp+NQ0ZfkarpmjpmvtrZJfVQIwoNT4lSBuOqrZah2ynvXewYahawk/ksmahsiZiD9Sv4jVqIjjgfZNQmV6OtuzqoojWvQYaDLglRkGIPdFnK5j2q0oPtup4shkwFNhtvCirallTkEmRKWfdzOMN9W0Qqe1gmO7PHVNcNjJJT89oyhuJ5+Xpk5+NyyiwCX07HHfzpumOghWBzauqnZjQBIFCve/TlD2Jx4k1T8/uzVt+PLwgrPbMxrk4+hw1zrDgY0V1gOLGWdTSh5KV1gxNIfUYIVCwaMETjcG5uFqOJ7jy3w8NvHq2GDdQUTk9lZiDXSe2K3SLRzumlG15a0qPwx/WRxoD18IQ7WBZdzlwWZLd34k3Ijh3b+lE5grotK/B8ccWxFuMbTvr/dC4IPN7Jis4Rr9PxmBhSG2MRMhL+GDWBNrX67YfNnVDquWEFXLDeLiRAUhuH58Lrh49TPwwevkjfH1PJz4w=
